@charset "utf-8";
/* CSS Document */
/* base */
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/NanumGothic-Regular.eot);
  src: url(../fonts/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
       url(../fonts/NanumGothic-Regular.woff2) format('woff2'),
       url(../fonts/NanumGothic-Regular.woff) format('woff'),
       url(../fonts/NanumGothic-Regular.ttf) format('truetype');
}
@font-face {
 font-family: 'na200';
 src: url(../fonts/NanumSquareL.eot);
 src: url(../fonts/NanumSquareL.eot?#iefix) format('embedded-opentype'),
      url(../fonts/NanumSquareL.woff) format('woff'),
      url(../fonts/NanumSquareL.ttf) format('truetype');
}
@font-face {
 font-family: 'na300';
 src: url(../fonts/NanumSquareR.eot);
 src: url(../fonts/NanumSquareR.eot?#iefix) format('embedded-opentype'),
      url(../fonts/NanumSquareR.woff) format('woff'),
      url(../fonts/NanumSquareR.ttf) format('truetype');
}
@font-face {
 font-family: 'na400';
 src: url(../fonts/NanumSquareB.eot);
 src: url(../fonts/NanumSquareB.eot?#iefix) format('embedded-opentype'),
      url(../fonts/NanumSquareB.woff) format('woff'),
      url(../fonts/NanumSquareB.ttf) format('truetype');
}
@font-face {
 font-family: 'na500';
 src: url(../fonts/NanumSquareEB.eot);
 src: url(../fonts/NanumSquareEB.eot?#iefix) format('embedded-opentype'),
      url(../fonts/NanumSquareEB.woff) format('woff'),
      url(../fonts/NanumSquareEB.ttf) format('truetype');
}
@font-face {
    font-family: 'no200';
    src: url('../fonts/notokr-light.eot');
    src: url('../fonts/notokr-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/notokr-light.woff2') format('woff2'),
         url('../fonts/notokr-light.woff') format('woff'),
         url('../fonts/notokr-light.ttf') format('truetype'),
         url('../fonts/notokr-light.svg#notokr-light') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'no300';
    src: url('../fonts/notokr-regular.eot');
    src: url('../fonts/notokr-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/notokr-regular.woff2') format('woff2'),
         url('../fonts/notokr-regular.woff') format('woff'),
         url('../fonts/notokr-regular.ttf') format('truetype'),
         url('../fonts/notokr-regular.svg#notokr-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'no400';
    src: url('../fonts/notokr-medium.eot');
    src: url('../fonts/notokr-medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/notokr-medium.woff2') format('woff2'),
         url('../fonts/notokr-medium.woff') format('woff'),
         url('../fonts/notokr-medium.ttf') format('truetype'),
         url('../fonts/notokr-medium.svg#notokr-medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'no500';
    src: url('../fonts/notokr-bold.eot');
    src: url('../fonts/notokr-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/notokr-bold.woff2') format('woff2'),
         url('../fonts/notokr-bold.woff') format('woff'),
         url('../fonts/notokr-bold.ttf') format('truetype'),
         url('../fonts/notokr-bold.svg#notokr-bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'no600';
    src: url('../fonts/notokr-black.eot');
    src: url('../fonts/notokr-black.eot?#iefix') format('embedded-opentype'),
         url('../fonts/notokr-black.woff2') format('woff2'),
         url('../fonts/notokr-black.woff') format('woff'),
         url('../fonts/notokr-black.ttf') format('truetype'),
         url('../fonts/notokr-black.svg#notokr-bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: "timon";
  src: url("../fonts/TmonMonsori.eot");
  src: url("../fonts/TmonMonsori.eot?#iefix") format("embedded-opentype"),
  url("../fonts/TmonMonsori.woff") format("woff"),
  url("../fonts/TmonMonsori.woff2") format("woff2"),
  url("../fonts/TmonMonsori.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}


html,body { }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, input, textarea, p, blockquote, th, td, textfield, select, img{
  margin:0;
  padding:0;
}

body {color:#666;font-size:14px; font-family:'no300', '나눔고딕',NanumGothic, '돋움',Dotum,'굴림',Gulim,Helvetica,sans-serif !important;
font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: 'liga', 'kern';
  direction: ltr;
 }
h1, h2, h3, h4, h5, h6 {font-weight:normal;}
ol, ul, li, dd, dl, dt  {list-style:none;}
fieldset, legend {border:0; margin:0;padding:0;}
img {border:0;vertical-align:top; }
label{cursor:pointer; font-weight: normal;}
address, caption, em{font-weight:normal;font-style:normal;}

*:hover {

}
a {cursor: pointer;}
strong{letter-spacing:-1px}

table {border-collapse:collapse;}
.bx-wrapper a{display: block;}
.bx-viewport ul:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
* {
  -webkit-text-size-adjust: none;
-moz-text-size-adjust: none;
-ms-text-size-adjust: none;
}

.btn {
  border-radius: 0px;
}
.form-control {
  border-radius: 0px;
}