@charset "utf-8";
/* CSS Document */

.top_nav:after{
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
/* .top_nav .jquery-accordion-menu > ul {
    display: block; width: 100%;
} */
.top_nav .jquery-accordion-menu {
	overflow: hidden;
}
.top_nav .jquery-accordion-menu > ul:after{
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.top_nav .jquery-accordion-menu > ul > li {
    float: left; /* width: 140px; */ height: 100px; text-align: center;
	padding:0 20px;width: auto;
}
.top_nav .jquery-accordion-menu > ul > li > ul {
    display: none;
}
.top_nav .jquery-accordion-menu > ul > li > a {
    display: block; height: 100px; font-size: 16px;font-family: 'no300';
    color: #666
}
.top_nav .jquery-accordion-menu > ul > li.active > a {
    border-bottom: 5px solid #ef4d6a;  color: #ef4d6a
}
.top_nav .jquery-accordion-menu > ul > li .fa ,
.top_nav .jquery-accordion-menu > ul > li .fas
{
display: block;
    font-size: 24px;
    /* font-weight: normal; */
    background-repeat: no-repeat;
    height: 61px;
    background-position: center center;
    position: relative;
    top: 4px;
    line-height: 61px;
    background-image: none!important;
}
.top_nav .jquery-accordion-menu > ul > li .fa:before {

}



.top_nav .jquery-accordion-menu > ul > li .fa-user {
    background-image: url(../images/common/top_icon_member.png);
}
.top_nav .jquery-accordion-menu > ul > li .fa-window-restore {
    background-image: url(../images/common/top_icon_banner.png);
}
.top_nav .jquery-accordion-menu > ul > li .fa-line-chart {
    background-image: url(../images/common/top_icon_sale.png);
}
.top_nav .jquery-accordion-menu > ul > li .fa-paper-plane {
    background-image: url(../images/common/top_icon_push.png);
}
.top_nav .jquery-accordion-menu > ul > li .fa-home {
    background-image: url(../images/common/top_icon_home.png);
}
.top_nav .jquery-accordion-menu > ul > li .fa-download {
    background-image: url(../images/common/top_icon_install.png);
}
.top_nav .jquery-accordion-menu > ul > li .fa-pie-chart {
    background-image: url(../images/common/top_icon_arpu.png);
}
.top_nav .jquery-accordion-menu > ul > li .fa-volume-up {
    background-image: url(../images/common/top_icon_notice.png);
}






.aside_menu {
    font-family:'돋움',Dotum,'굴림',Gulim,Helvetica,sans-serif !important;
    font-size: 14px; font-weight: bold;
}
.aside_menu:after{
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.aside_menu .jquery-accordion-menu,.aside_menu .jquery-accordion-menu * {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    outline:0
}
.aside_menu .jquery-accordion-menu {
    /*float:left;*/
    position:relative;
}
.aside_menu .jquery-accordion-menu .jquery-accordion-menu-footer,.aside_menu .jquery-accordion-menu .jquery-accordion-menu-header {
    width:100%;
    height:50px;
    padding-left:22px;
    float:left;
    line-height:50px;
    font-weight:600;
    color:#f0f0f0;
    background:#414956
}
.aside_menu .jquery-accordion-menu ul {
    margin:0;
    padding:0;
    list-style:none
}
.aside_menu .jquery-accordion-menu ul:after{
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.aside_menu .jquery-accordion-menu ul li {
    width:100%;
    display:block;
    float:left;
    position:relative
}
.aside_menu .jquery-accordion-menu ul li a {
    width:100%;
    padding:14px 15px;
    float:left;
    text-decoration:none;
    color:#494958;
    font-size:14px;
    background:#111117;
    white-space:nowrap;
    position:relative;
    overflow:hidden;
    -o-transition:color .2s linear,background .2s linear;
    -moz-transition:color .2s linear,background .2s linear;
    -webkit-transition:color .2s linear,background .2s linear;
    transition:color .2s linear,background .2s linear
}
.aside_menu .jquery-accordion-menu>ul>li.active>a,.aside_menu .jquery-accordion-menu>ul>li:hover>a {
    color:#fff;
    background:#070709;
}
.aside_menu .jquery-accordion-menu>ul>li>a {
    border-bottom:solid 1px #23232f
}
.aside_menu .jquery-accordion-menu ul li a i {
    width:18px;
    float:left;
    line-height:18px;
    font-size:16px;
    text-align:left; margin-right: 18px;
    background-repeat: no-repeat;
    background-position: center center;display: block;
    height: 18px;
    background-image: none!important;
}
.aside_menu .jquery-accordion-menu ul li a i:before {
}
.aside_menu .jquery-accordion-menu ul li a i.fa-user {
    background-image: url(../images/common/left_icon_member.png);
}
.aside_menu .jquery-accordion-menu ul li a i.fa-window-restore {
    background-image: url(../images/common/left_icon_banner.png);
}
.aside_menu .jquery-accordion-menu ul li a i.fa-line-chart {
    background-image: url(../images/common/left_icon_sale.png);
}
.aside_menu .jquery-accordion-menu ul li a i.fa-paper-plane {
    background-image: url(../images/common/left_icon_push.png);
}
.aside_menu .jquery-accordion-menu ul li a i.fa-home {
    background-image: url(../images/common/left_icon_home.png);
}
.aside_menu .jquery-accordion-menu ul li a i.fa-download {
    background-image: url(../images/common/left_icon_install.png);
}
.aside_menu .jquery-accordion-menu ul li a i.fa-pie-chart {
    background-image: url(../images/common/left_icon_arpu.png);
}
.aside_menu .jquery-accordion-menu ul li a i.fa-volume-up {
    background-image: url(../images/common/left_icon_notice.png);
}



.aside_menu .jquery-accordion-menu .submenu-indicator {
    float:right;
    right:22px;
    position:absolute;
    line-height:19px;
    font-size:20px;
    -o-transition:transform .3s linear;
    -moz-transition:transform .3s linear;
    -webkit-transition:transform .3s linear;
    -ms-transition:transform .3s linear
}
.aside_menu .jquery-accordion-menu ul ul.submenu .submenu-indicator {
    line-height:16px
}
.aside_menu .jquery-accordion-menu .submenu-indicator-minus>.submenu-indicator {
    -ms-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg)
}
.aside_menu .jquery-accordion-menu ul ul.submenu,.aside_menu .jquery-accordion-menu ul ul.submenu li ul.submenu {
    width:100%;
    display:none;
    position:static
}

.aside_menu .jquery-accordion-menu ul ul.submenu.active ,.aside_menu .jquery-accordion-menu ul ul.submenu li ul.submenu.active {
    display: block;
}

.aside_menu .jquery-accordion-menu ul ul.submenu li {
    clear:both;
    width:100%
}
.aside_menu .jquery-accordion-menu ul ul.submenu li a {
    width:100%;
    float:left;
    font-size:14px;
    background:#393946;
    color: #a0a0ab;
    border-top:none;
    position:relative;
    border-left:solid 6px transparent;
    -o-transition:border .2s linear;
    -moz-transition:border .2s linear;
    -webkit-transition:border .2s linear;
    transition:border .2s linear;
    padding: 10px 5px 10px 36px;
}

.aside_menu .jquery-accordion-menu ul ul.submenu li.active > a {
border-left-color:#ef4d6a; color: #6c92e8
}

.aside_menu .jquery-accordion-menu ul ul.submenu li:hover>a {
    border-left-color:#414956
}
.aside_menu .jquery-accordion-menu ul ul.submenu>li>a {
    padding-left:45px
}
.aside_menu .jquery-accordion-menu ul ul.submenu>li>ul.submenu>li>a {
    padding-left:60px
}
.aside_menu .jquery-accordion-menu ul ul.submenu>li>ul.submenu>li>ul.submenu>li>a {
    padding-left:60px
}
.aside_menu .jquery-accordion-menu ul li .jquery-accordion-menu-label,.aside_menu .jquery-accordion-menu ul ul.submenu li .jquery-accordion-menu-label {
    min-width:20px;
    padding:1px 2px 1px 1px;
    position:absolute;
    right:18px;
    top:14px;
    font-size:11px;
    font-weight:800;
    color:#555;
    text-align:center;
    line-height:18px;
    background:#f0f0f0;
    border-radius:100%
}
.aside_menu .jquery-accordion-menu ul ul.submenu li .jquery-accordion-menu-label {
    top:12px
}
.ink {
    display:block;
    position:absolute;
    background:rgba(255,255,255,.3);
    border-radius:100%;
    -webkit-transform:scale(0);
    -moz-transform:scale(0);
    -ms-transform:scale(0);
    -o-transform:scale(0);
    transform:scale(0)
}
.animate-ink {
    -webkit-animation:ripple .5s linear;
    -moz-animation:ripple .5s linear;
    -ms-animation:ripple .5s linear;
    -o-animation:ripple .5s linear;
    animation:ripple .5s linear
}
@-webkit-keyframes ripple {
    100% {
        opacity:0;
        -webkit-transform:scale(2.5)
    }
}
@-moz-keyframes ripple {
    100% {
        opacity:0;
        -moz-transform:scale(2.5)
    }
}
@-o-keyframes ripple {
    100% {
        opacity:0;
        -o-transform:scale(2.5)
    }
}
@keyframes ripple {
    100% {
        opacity:0;
        transform:scale(2.5)
    }
}
